resources:
- name: {{ properties["name"] }}
  type: gcp-types/storage-v1:buckets
  properties:
    location: {{ properties["location"] }}
outputs:
- name: bucketUri
  value: $(ref.{{ properties["name"] }}.selfLink )